{{#if returns~}}
{{#each returns~}}
{{#if type~}}
{{#if type.names~}}
<a name="{{../memberof}}+{{../name}}"></a>

{{>heading-indent}}[](#{{lowerCase ../memberof}}-{{lowerCase ../name~}}) `{{firstLetterLowerCase ../memberof}}.{{../name}}({{parseParams ../params}})` ⇒ {{>linked-type-list types=type.names delimiter=" \| "}}

{{/if~}}
{{/if}}
{{/each}}
{{else~}}
<a name="{{name}}"></a>

{{>heading-indent}}[](#{{name}}) {{name}}

{{/if}}